/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import url("https://fonts.googleapis.com/css?family=Libre Baskerville|Montserrat:wght@300;400;500;600&display=swap");

$colors: (
  "primary": #606D5C,

);

* {
  margin: 0;
  padding: 0;
}



//Set font and background color of whole page
body {
  font-family: "libre baskerville, serif";
  background-color: #606D5C;
}

//Set the scroll to smooth
html {
  scroll-behavior: smooth;
}

//change background color of header to white
.header {
  background-color: white;
}

h1, h2, h3, h4, h5 {
  font-family: "libre baskerville, serif";
}

//Set font size, color, and font family for paragraph tag
p {
  color: black;
  font-family: "montserrat, sans-serif";
  font-size: 1.3rem;
}

// Hero image & position
#hero {
  background-image: linear-gradient(rgba(247, 247, 247, 0.7), rgba(247, 247, 247, 0.7)), url("../images/portfolio/hero-image_900by675.jpg");
  background-size: cover;
  background-position: center;
}

//Height of hero container
#hero .container {
  height: 100vh;
}

//Remove underline from text on buttons in hero section
#hero a {
  text-decoration: none;
}

//Set logo size in top navbar
.navbar img {
  height: 90px;
  width: 90px;
}

header .nav-link {
  color: black;
  font-family: "montserrat, sans-serif";
  font-size: 1.2rem;
}

//**************************** Skills Section **********************************//
.list-group-item {
  background-color: #606D5C;
  padding: 10px;
  //list-style-type: none;
}

.list-group {
  list-style-type: none;
}

#skills-img {
  /*background-image: url("../images/patterns/adrien-olichon-R2OM3BvN-Uo-unsplash_small.jpg");*/
  background-size: cover;
  background-position: center;
}

//**************************** Projects Section **********************************//
.projects {
  background-color: white;

  p{
    color: black;
    font-family: "montserrat, sans-serif";
    font-size: 1.3rem;
  }

  img {
    height: 400px;
    width: auto;
  }
  
  btn {
    background-color: black;
    color: white;
    font-weight: bold;
    font: 1.2rem;
  }
}

//**************************** Contact Section **********************************//
.form-label {
  color: white;
  font: 1.6rem;
  font-family: "montserrat, sans-serif";
}


//**************************** Footer Section **********************************//

footer .nav-link {
    color: black;
    font-family: "montserrat, sans-serif";
    font-size: 1.2rem;
  }
